.layout {
  width: 1920px;
  height: 1080px;

  display: grid;
  grid:
    "Calculadora Carrito_3D" 100%
    / 30% 50%;
  gap: 8px;
}
.Calculadora {
  grid-area: Calculadora;
}
#Carrito_3D canvas {
  grid-area: Carrito_3D;
  transform: scale(0.5);
  margin-left: -450px;
  margin-bottom: -450px;
}
input,
select,
button {
  margin: 5px;
  padding: 5px;
  margin-left: 30px;
}
button {
  margin-left: 90px;
}

#result {
  margin-top: 10px;
  width: 300px;
  font-weight: bold;
}

/* .layout {
  width: 1920px;
  height: 1080px;

  display: grid;
  grid:
    "Carrito_3D Calculadora " 100%
    / 50% 50%;
  gap: 8px;
}
.Calculadora {
  grid-area: calculadora;
}

.Carrito_3D {
  grid-area: Carrito_3D;
}

input,
select,
button {
  margin: 5px;
  padding: 5px;
}

#result {
  margin-top: 10px;
  width: 300px;
  font-weight: bold;
} */
